
@{
    ViewData["Title"] = "ResetPasswordViewModel";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            Lütfen mailinizi kontrol ediniz!!
        </div>
    </div>
</div>

