@model IdentityWithCookies.VİewsModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}


<h4>Reset Password Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

